html{
  font-size: 18px;
}

body{
  font-family: Helvetica;
  width: 960px;
  margin:0 auto;
}

header{
  background-color: black;
  display: flex;
  align-items: center;
}

header img{
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

#arrival{
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
}

#menu nav{

}

#menu nav span{
  
}

.caption{
  width: 37.5%;
  background-color: black;
  margin-top: 17%;
  display: inline-block;
}

.caption h1{
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.caption h2{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

h1 {
  display: inline-block;
  font-size: 1rem;
  color: white;
  margin: 0.66rem 0;
}
